<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vertalen</h4>
                    <p class="text-muted">Ik vertaal teksten, handleidingen, boeken, ondertiteling en tegeltjeswijsheden van en naar Engels en Frans.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Redigeren</h4>
                    <p class="text-muted">Boekteksten alsook scripts voor podcasts, maar ook programmeercode in Java en Python. Laat het weten, ik ben flexibel als dat.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">SEO</h4>
                    <p class="text-muted">Ik schrijf SEO-geoptimaliseerde teksten, net als ChatGPT, om jou website hoog te laten ranken. Totdat het zoekalgoritme wordt vervangen met AI.</p>
                </div>
            </div>
        </div>
    </section>